<div class="mt-5 px-3">
  @if (router.url.includes('details')) {
  <div class="my-3">
    <p-button text="true" icon="pi pi-arrow-left" label="back to Home page" routerLink="/" />
  </div>
  }

  <p-inputNumber [(ngModel)]="global.amount"
    (onInput)="global.fromCurrency || global.toCurrency?global.handleConvert(exchangeRates):''"
    placeholder="Enter amount" styleClass="mr-3"></p-inputNumber>

  <p-dropdown [options]="router.url.includes('details')?currenciesName:currenciesCode" [(ngModel)]="global.fromCurrency"
    (onChange)="global.fromToChanged = false;global.quickConversions = []" placeholder="From" styleClass="mr-3"
    [disabled]="!global.amount || router.url.includes('details')"></p-dropdown>
  @if (!router.url.includes('details')) {
  <p-button [text]="true" [disabled]="!global.fromCurrency || !global.toCurrency" (onClick)="swapCurrencies()"
    styleClass="mr-3"><span class="material-symbols-outlined">swap_horiz</span></p-button>
  }
  <p-dropdown [options]="router.url.includes('details')?currenciesName:currenciesCode" [(ngModel)]="global.toCurrency"
    (onChange)="global.fromToChanged = false;global.quickConversions = [];global.quickConversionsCurrencies = []"
    placeholder="To" styleClass="mr-3" [disabled]="!global.amount"></p-dropdown>


  <p-button type="button" label="Convert" [disabled]="!global.fromCurrency || !global.toCurrency || !global.amount"
    (click)="global.handleConvert(exchangeRates)" styleClass="mr-3" />

  @if (!router.url.includes('details')) {
  <p-button type="button" label="Details" [disabled]="!global.fromCurrency || !global.toCurrency"
    (click)="redirectToDetails()" />
  }
  @if (global.conversionResult) {
  @if (global.fromToChanged) {
  <h1 class="mt-5">{{ global.amount }} {{
    !router.url.includes('details')?global.fromCurrency:currencies[global.fromCurrency]}} = {{
    global.conversionResult.toFixed(2) }}
    {{!router.url.includes('details')?global.toCurrency:currencies[global.toCurrency]}}</h1>
  }
  }
</div>
