@import "variables.scss";

// -------------------navbar-container
.header-container  {
  .menuitem-container {
    .p-menubar {
      padding: 0;
      background: none;
      border: 0;

      .p-menuitem-content:hover {
        .item-label {
          color: var(--First-primary-color);
        }
      }
    }
  }
}
