:root {
  --logo: url(../imgs/currency-exchanger-logo.png);

  --First-primary-color: #2196f3;

  --background-center: no-repeat center/contain;
}

// ------------------------------------------- fonts
$LamaSans-regular: "LamaSans-regular";
$LamaSans-medium: "LamaSans-medium";
$LamaSans-Bold: "LamaSans-Bold";
$LamaSans-SemiBold: "LamaSans-SemiBold";

// -------------------------------------------

// Define Font Weights
$bold-font-weight: 600;
$semi-bold-font-weight: 500;
